Weighting/05a-Selb-et-al-2013.pdf
Raw/Europuls_March/AUD_BIG6_US_DAL_EPW6_Q061_social_networks_regularly_used_SMac_2017-04-11_10-20.csv
Raw/Europuls_March/data_coded_HertieSchool of Governance_2017-04-11_10-20.csv
Raw/Europuls_March/TRA_BIG6_US_EPW6_Q102_preferred_type_of_political_leader_2017-04-11_10-20.csv
Raw/Europuls_March/TRA_BIG6_NOT_US_EPW6_Q076_ranking_party_de_2017-04-11_10-20.csv
Raw/Europuls_March/data_HertieSchool of Governance_2017-04-11_10-20.csv
Raw/Europuls_March/TRA_BIG6_US_EPW6_Q097_important_issues_when_voting_2017-04-11_10-20.csv
Raw/Europuls_March/AUD_BIG6_US_DAL_EPW6_Q062_social_media_activity_rank_SMac_2017-04-11_10-20.csv
Raw/Europuls_March/data_HertieSchool of Governance_2017-04-11_10-20.xlsx
Raw/Europuls_March/data_coded_HertieSchool of Governance_2017-04-11_10-20.xlsx